.butterfly1 {
    background-image: url(img/butterflies/butterfly-1.jpg);
    background-size: 100% 100%;
}

.butterfly2 {
    background-image: url(img/butterflies/butterfly-2.jpg);
    background-size: 100% 100%;
}

.butterfly3 {
    background-image: url(img/butterflies/butterfly-3.jpg);
    background-size: 100% 100%;
}

.butterfly4 {
    background-image: url(img/butterflies/butterfly-4.jpg);
    background-size: 100% 100%;
}

.butterfly5 {
    background-image: url(img/butterflies/butterfly-5.jpg);
    background-size: 100% 100%;
}

.butterfly6 {
    background-image: url(img/butterflies/butterfly-6.jpg);
    background-size: 100% 100%;
}

.butterfly7 {
    background-image: url(img/butterflies/butterfly-7.jpg);
    background-size: 100% 100%;
}

.butterfly8 {
    background-image: url(img/butterflies/butterfly-8.jpg);
    background-size: 100% 100%;
}

.butterfly9 {
    background-image: url(img/butterflies/butterfly-9.jpg);
    background-size: 100% 100%;
}

.butterfly10 {
    background-image: url(img/butterflies/butterfly-10.jpg);
    background-size: 100% 100%;
}

.butterfly11 {
    background-image: url(img/butterflies/butterfly-11.jpg);
    background-size: 100% 100%;
}

.butterfly12 {
    background-image: url(img/butterflies/butterfly-12.jpg);
    background-size: 100% 100%;
}

.butterfly13 {
    background-image: url(img/butterflies/butterfly-13.jpg);
    background-size: 100% 100%;
}

.butterfly14 {
    background-image: url(img/butterflies/butterfly-14.jpg);
    background-size: 100% 100%;
}