.kitty1 {
    background-image: url(img/cats/kitty-1.jpg);
    background-size: 100% 100%;
}

.kitty2 {
    background-image: url(img/cats/kitty-2.jpg);
    background-size: 100% 100%;
}

.kitty3 {
    background-image: url(img/cats/kitty-3.jpg);
    background-size: 100% 100%;
}

.kitty4 {
    background-image: url(img/cats/kitty-4.jpg);
    background-size: 100% 100%;
}

.kitty5 {
    background-image: url(img/cats/kitty-5.jpg);
    background-size: 100% 100%;
}

.kitty6 {
    background-image: url(img/cats/kitty-6.jpg);
    background-size: 100% 100%;
}

.kitty7 {
    background-image: url(img/cats/kitty-7.jpg);
    background-size: 100% 100%;
}

.kitty8 {
    background-image: url(img/cats/kitty-8.jpg);
    background-size: 100% 100%;
}

.kitty9 {
    background-image: url(img/cats/kitty-9.jpg);
    background-size: 100% 100%;
}

.kitty10 {
    background-image: url(img/cats/kitty-10.jpg);
    background-size: 100% 100%;
}

.kitty11 {
    background-image: url(img/cats/kitty-11.jpg);
    background-size: 100% 100%;
}

.kitty12 {
    background-image: url(img/cats/kitty-12.jpg);
    background-size: 100% 100%;
}

.kitty13 {
    background-image: url(img/cats/kitty-13.jpg);
    background-size: 100% 100%;
}

.kitty14 {
    background-image: url(img/cats/kitty-14.jpg);
    background-size: 100% 100%;
}