.puppy1 {
    background-image: url(img/dogs/puppy-1.jpg);
    background-size: 100% 100%;
}

.puppy2 {
    background-image: url(img/dogs/puppy-2.jpg);
    background-size: 100% 100%;
}

.puppy3 {
    background-image: url(img/dogs/puppy-3.jpg);
    background-size: 100% 100%;
}

.puppy4 {
    background-image: url(img/dogs/puppy-4.jpg);
    background-size: 100% 100%;
}

.puppy5 {
    background-image: url(img/dogs/puppy-5.jpg);
    background-size: 100% 100%;
}

.puppy6 {
    background-image: url(img/dogs/puppy-6.jpg);
    background-size: 100% 100%;
}

.puppy7 {
    background-image: url(img/dogs/puppy-7.jpg);
    background-size: 100% 100%;
}

.puppy8 {
    background-image: url(img/dogs/puppy-8.jpg);
    background-size: 100% 100%;
}

.puppy9 {
    background-image: url(img/dogs/puppy-9.jpg);
    background-size: 100% 100%;
}

.puppy10 {
    background-image: url(img/dogs/puppy-10.jpg);
    background-size: 100% 100%;
}

.puppy11 {
    background-image: url(img/dogs/puppy-11.jpg);
    background-size: 100% 100%;
}

.puppy12 {
    background-image: url(img/dogs/puppy-12.jpg);
    background-size: 100% 100%;
}
