* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    width: 30%;
    background-color: white;
    border-radius: 2em;
    border: 15px solid black;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.viewHover {
    padding: 1em;
}

.viewHover:hover {
    cursor: pointer;
    border: 10px solid red !important;
    border-radius: 1em;
}

.blackFrame {
    cursor: pointer;
    border: 10px solid black !important;
    border-radius: 1em;
}

.centerLevel {
    width: 50%;
}
.centerLevelTop {
    width: 80%;
}
.width50 {
    width: 50%;
}
.width100 {
    width: 100%;
}

#pictures {
    /* width: 100%; */
    float: left;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    /* border: 10px solid white; */
}

#pictures>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 23.33vh;
    border: 14px solid white;
    /* border: 14px; */
}

/* #pictures>div:hover {
    cursor: pointer;
    border: 10px solid red;
    border-radius: 1em;
} */

#levels {
    /* width: 50%; */
    /* float: right; */
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    border-left: 15px solid white;
    /* border: 15px solid black; */
}

#levels>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 23.33vh;
    border: 14px solid white;
}

/* #levels>div:hover {
    cursor: pointer;
    border: 10px solid red;
    border-radius: 1em;
} */

/* .viewHover:hover {
    cursor: pointer;
    border: 10px solid red;
    border-radius: 1em;
} */

.display {
    display: none;
}

.elements12 {
    background-image: url(img/level/4na3.JPG);
    background-size: 100% 100%;
}
.elements18 {
    background-image: url(img/level/6na3.JPG);
    background-size: 100% 100%;
}
.elements24 {
    background-image: url(img/level/6na4.JPG);
    background-size: 100% 100%;
}