* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.center {
    width: 40%;
    /* background: black; */
    background-color: white;
    /* color: white; */
    border-radius: 2em;
    border: 15px solid black;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

#menu {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid white; */
    border-radius: 1em;
}

#menu>div {
    flex-basis: 50%;
    flex-grow: 1;
    height: 23.33vh;
    /* background-color: white; */
    border: 14px solid white;
}

#menu>div:hover {
    /* background-color: white; */
    cursor: pointer;
    border: 10px solid red;
    border-radius: 1em;
}

.elements12 {
    background-image: url(img/level/4na3.JPG);
    background-size: 100% 100%;
}
.elements18 {
    background-image: url(img/level/6na3.JPG);
    background-size: 100% 100%;
}
.elements24 {
    background-image: url(img/level/6na4.JPG);
    background-size: 100% 100%;
}

@media (orientation: portrait) {
    div.center {
        width: 50%;
    }
    .elements12 {
        background-image: url(img/level/3na4.JPG);
    }
    .elements18 {
        background-image: url(img/level/3na6.JPG);
    }
    .elements24 {
        background-image: url(img/level/4na6.JPG);
    }
}