* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .zero {
    height: 0;
    width: 0;
    border: 0;
    padding: 0;
} */

.center {
    width: 30%;
    background-color: white;
    border-radius: 2em;
    /* border: 15px solid black; */
    border: 2vh solid black;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.viewHover {
    padding: 1em;
}

.viewHover:hover {
    cursor: pointer;
    border: 2vh solid red !important;
    border-radius: 1em;
}

.blackFrame {
    cursor: pointer;
    border: 2vh solid black !important;
    border-radius: 1em;
}

.centerLevel {
    width: 50%;
}
.centerLevelsResults {
    width: 50%;
}
.centerPicturesLevels {
    width: 38%;
}
.picturesLevelsResults {
    width: 38%;
}
.width30 {
    width: 33%;
}
.widht1Element {
    width: 100%;
}
.levelsPicturesResults {
    width: 38%;
    border-left: 2vh solid white;
}
.widthCenter2Elements {
    width: 40%;
}
.width2Elements {
    width: 50%;
}
.widthCenter3Elements {
    width: 50%;
}
.width3Elements {
    width: 38%;
}
.borderLeft,.borderRight{
    border-left: 2vh solid white;
}

#pictures {
    /* width: 100%; */
    float: left;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    /* border: 1.8vh solid white; */
}

#pictures>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 23.33vh;
    border: 2vh solid white;
}

/* #pictures>div:hover {
    cursor: pointer;
    border: 1.8vh solid red;
    border-radius: 1em;
} */

#levels {
    /* width: 50%; */
    /* float: right; */
    float: left;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    /* border-left: 2vh solid white; */
    /* border: 2vh solid black; */
}



#levels>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 23.33vh;
    border: 2vh solid white;
}

#resultsRight {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    /* font-size:  4vw; */
    /* font-size: 2vmin; */

    /* border-left: 0.5vh solid white; */
    /* width: 55%; */
}

.resultsRight {
    width: 40%;
    border-left: 0.8vh solid white;
}

#resultsRight>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 20vh;
    border: 0.8vh solid white;
    /* font-size: 10px; */
    font-size: 0.8vw;

    /* width: 100%; */
    /* height: 100%; */
    /* border: 1px solid black; */
    margin-top: 1.5vh;              
    margin-left: 1%;  
    margin-right: 1%;
    /* padding: 2px;            */
    /* width: 300px;            */
    /* vertical-align: top; */
    overflow: hidden;
}

#resultsLeft {
    display: flex;
    float: left;
    flex-wrap: wrap;
    border-radius: 1em;
    /* font-size:  4vw; */
    /* font-size: 2vmin; */

    /* border-left: 0.5vh solid white; */
    /* width: 55%; */
}

.resultsLeft {
    width: 40%;
    border-left: 0.8vh solid white;
}

#resultsLeft>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 20vh;
    border: 0.8vh solid white;
    /* font-size: 10px; */
    font-size: 0.8vw;

    /* width: 100%; */
    /* height: 100%; */
    /* border: 1px solid black; */
    margin-top: 1.5vh;              
    margin-left: 1%;  
    margin-right: 1%;
    /* padding: 2px;            */
    /* width: 300px;            */
    /* vertical-align: top; */
    overflow: hidden;
}

.marginResult {
    margin-top: 21vh;
    min-height: 25vh;
}

/* label {
    font-size: 1.8em;
} */

.game {
    /* position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; */
    position: absolute;
    top: 34%;
    width: 11vw;
    height: 23.33vh !important;
    /* transition-property:width, top, height; */
    /* transition-duration:1s, 2s, 1s; */
    /* transition-timing-function:linear, ease-in, linear; */
    /* transition-delay:3s, 0s; */
}

.game:hover {
    top : 0;
    left : 0;
    width: 100%;
    height: 100% !important;
    transition-property:width, top, height, left;
    transition-duration:1s, 1s, 1s, 1s;
    transition-timing-function: linear, ease-in, linear, linear;
}

div.cos {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin: 0;              
    padding: 2px;           
    /* width: 300px;            */
    vertical-align: top;
}   
    
div.linia {             
    width: inherit;         
    /* padding: 4px 0 4px 0;    */
    border: 0; 
}            

div.name {           
    display: inline-block;        
    width: 65%;
    text-align: start;

    /* white-space: nowrap;  */
    /* width: 50px;  */
    overflow: hidden;
    text-overflow: ellipsis; 
    /* border: 1px solid #000000; */
    font-size: 1.2em;
}

div.result {
    display: inline-block;
    width: 33%;
    text-align: end;
    overflow: hidden;
    font-size: 1.2em;
}

/* #levels>div:hover {
    cursor: pointer;
    border: 10px solid red;
    border-radius: 1em;
} */

/* .viewHover:hover {
    cursor: pointer;
    border: 10px solid red;
    border-radius: 1em;
} */

.display {
    display: none;
}

.elements12 {
    background-image: url(img/level/4na3.JPG);
    background-size: 100% 100%;
}
.elements18 {
    background-image: url(img/level/6na3.JPG);
    background-size: 100% 100%;
}
.elements24 {
    background-image: url(img/level/6na4.JPG);
    background-size: 100% 100%;
}