* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    width: 50%;
    background-color: white;
    border-radius: 2em;
    border: 15px solid black;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#topLeft {
    /* position: absolute; */
    /* top: 0%; */
    /* left: 110%; */
    width: 50%;
    /* width: 0; */
    float: right;
    display: flex;
    flex-wrap: wrap;
}
#topLeft>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 23.33vh;
    border: 14px solid white;

    display: flex;
    flex-wrap: wrap;
    padding-top: 1vh;
    font-size: 3vh;
    display:block;
}
#topLeft>div>p {
    flex-basis: 100%;
    flex-grow: 1;
    height: 5.33vh;
    /* border: 14px solid white; */
}

.display {
    display: none;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
    /* border: 15px solid black; */
}

#menu>div {
    flex-basis: 50%;
    flex-grow: 1;
    height: 23.33vh;
    border: 14px solid white;
}

#menu>div:hover {
    cursor: pointer;
    border: 10px solid red;
    border-radius: 1em;
}

.elements12 {
    background-image: url(img/level/4na3.JPG);
    background-size: 100% 100%;
}
.elements18 {
    background-image: url(img/level/6na3.JPG);
    background-size: 100% 100%;
}
.elements24 {
    background-image: url(img/level/6na4.JPG);
    background-size: 100% 100%;
}


@media (orientation: portrait) {
    div.center {
        width: 50%;
    }
    .elements12 {
        background-image: url(img/level/3na4.JPG);
    }
    .elements18 {
        background-image: url(img/level/3na6.JPG);
    }
    .elements24 {
        background-image: url(img/level/4na6.JPG);
    }
}