* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    width: 40%;
    background-color: white;
    border-radius: 2em;
    border: 2vh solid #566dee;
    padding: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.viewHover {
    padding: 1em;
}

.viewHover:hover {
    cursor: pointer;
    border: 1em solid #0306a6 !important;
    border-radius: 1em;
}

.blackFrame {
    cursor: pointer;
    border: 1em solid #566dee !important;
    border-radius: 1em;
}

.widht1Element {
    width: 100%;
    padding: 0.5em;
}
.widthCenter2Elements {
    width: 60%;
    padding: 0.5em;
}
.width2Elements {
    width: 50%;
    padding: 0.5em;
}
.widthCenter3Elements {
    width: 50%;
    padding: 0.5em;
}
.width3Elements {
    width: 38%;
    padding: 0.5em;
}
#pictures, #levels, #resultsLeft {
    float: left;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
}

#pictures>div, #levels>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 23.33vh;
    border: 1em solid white;
}

#resultsRight {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
}

#resultsRight>div, #resultsLeft>div {
    flex-basis: 100%;
    flex-grow: 1;
    height: 23.33vh;
    border-top: 1em solid white;
    border-bottom: 1em solid white;
    font-size: 0.8vw;
    overflow: hidden;
}

.game {
    position: absolute;
    top: 34%;
    width: 11vw;
    height: 23.33vh !important;
}

.game:hover {
    top : 0;
    left : 0;
    width: 100%;
    height: 100% !important;
    transition-property:width, top, height, left;
    transition-duration:1s, 1s, 1s, 1s;
    transition-timing-function: linear, ease-in, linear, linear;
}

div.linia {
    width: inherit;
    border: 0; 
}

div.name {
    display: inline-block;
    width: 65%;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4em;
}

div.result {
    display: inline-block;
    width: 33%;
    text-align: end;
    overflow: hidden;
    font-size: 1.4em;
}

.titleResult>div:first-child>div:first-child{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: end;
    padding-right: 0.5vh;
}
.titleResult>div:first-child>div:last-child{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: start;
 }

.display {
    display: none;
}

.elements12 {
    background-image: url(../img/level/4na3.JPG);
    background-size: 100% 100%;
}
.elements18 {
    background-image: url(../img/level/6na3.JPG);
    background-size: 100% 100%;
}
.elements24 {
    background-image: url(../img/level/6na4.JPG);
    background-size: 100% 100%;
}

/*---------------------PopUp------------------------*/
.buttonStart {
    width: 120px;
    font-size: 1em;
    padding: 6px;
    color: #fff;
    border: 2px solid #566dee;
    box-shadow: 0px 0px 25px 0px #0306a6 inset;
    border-radius: 20px/50px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.buttonStart:hover {
    background: #9fa0f9;
}
.overlayHidden {
    visibility: hidden;
    opacity: 0;
}
#StartGame {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.overlayVisibility {
    visibility: visible;
    opacity: 1;
}
.overlayStart:target {
    visibility: visible;
    opacity: 1;
}
.popUpStart {
    background: #fff;
}
/*---------------------PopUp------------------------*/

@media (orientation: portrait) {
    .center {
        width: 50%;
    }
    #pictures>div, #levels>div {
        height: 14vh;
    }
    #resultsRight>div, #resultsLeft>div {
        height: 14vh;
    }
    .widthCenter2Elements {
        width: 70%;
    }
    .width2Elements {
        width: 50%;
    }
    .widthCenter3Elements {
        width: 90%;
    }
    .width3Elements {
        width: 38%;
    }
}