/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
}

.level12,.level18,.level24{
    flex-wrap: wrap;
}

.level12>div {
    flex-basis: 25%;
    flex-grow: 1;
    height: 33.33vh;
    background-color: black;
    border: 4px solid white;
}

.level18>div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 33.33vh;
    background-color: black;
    border: 4px solid white;
}

.level24>div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 25vh;
    background-color: black;
    border: 4px solid white;
}

.success {
    opacity: 0.3;
    filter: alpha(opacity = 30);
}

/*---------------------PopUp------------------------*/
button {
    margin: 2% 3% 0 3%;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 1.3em;
}
.menu { 
    text-align: center;
}
#dataPlayer {
    padding: 0.3em;
}
.box {
    width: 40%;
    padding: 35px;
    border: 2px solid #fff;
}
.boxstyle{
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    font-size: 0.9em;
    width: 50%;
}
.button {
    font-size: 1em;
    padding: 6px;
    color: #fff;
    border: 2px solid #566dee;
    box-shadow: 0px 0px 25px 0px #0306a6 inset;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.button:hover {
    background: #9fa0f9;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.popUp {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    position: relative;
}
.popUp h3 {
    margin-top: -2px;
    margin-right: 4px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popUp .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popUp .close:hover {
    color: #9fa0f9;
}
.popUp .content {
    max-height: 30%;
    overflow: auto;
}
/*---------------------PopUp------------------------*/

/* ----------------Rewersy kart-------------------- */
.hidden1 {
    background-image: url(../img/cardsBack/cardBack-1.jpg);
    background-size: 100% 100%;
}
.hidden2 {
    background-image: url(../img/cardsBack/cardBack-2.png);
    background-size: 100% 100%;
}
.hidden3 {
    background-image: url(../img/cardsBack/cardBack-3.jpg);
    background-size: 100% 100%;
}
.hidden4 {
    background-image: url(../img/cardsBack/cardBack-4.jpg);
    background-size: 100% 100%;
}
.hidden5 {
    background-image: url(../img/cardsBack/cardBack-5.jpg);
    background-size: 100% 100%;
}
.hidden6 {
    background-image: url(../img/cardsBack/cardBack-6.jpg);
    background-size: 100% 100%;
}
.hidden7 {
    background-image: url(../img/cardsBack/cardBack-7.jpg);
    background-size: 100% 100%;
}
.hidden8 {
    background-image: url(../img/cardsBack/cardBack-8.jpg);
    background-size: 100% 100%;
}
.hidden9 {
    background-image: url(../img/cardsBack/cardBack-9.jpg);
    background-size: 100% 100%;
}
.hidden10 {
    background-image: url(../img/cardsBack/cardBack-10.jpg);
    background-size: 100% 100%;
}
/* ----------------Rewersy kart-------------------- */


@media (orientation: portrait) {
    .level12>div {
        flex-basis: 33%;
        height: 25vh;
    }
    .level18>div {
        flex-basis: 33%;
        height: 16.66vh;
    }
    .level24>div {
        flex-basis: 25%;
        height: 16.66vh;
    }
    .popUp {
        width: 60%;
    }
    .boxstyle{
        width: 60%;
    }
    button {
        margin: 1% 2% 0 1%;
    }
}